# The Serial Flash Controller is the AST2400 BMC.
set LPC_SLAVE_AST2400
set SFC_IS_AST2400
set BMC_DOES_SFC_INIT
unset SFC_IS_IBM_DPSS

# VPD options.
unset MVPD_READ_FROM_PNOR
unset DJVPD_READ_FROM_PNOR
unset HAVE_MBVPD
set SKIP_RESTRICT_EX_UNITS

# gpio config
set GPIODD
set PALMETTO_VDDR

# enable console
set CONSOLE

# disable sbe updates
set NO_SBE_UPDATES

# Enable Nominal frequency pstate.
set SET_NOMINAL_PSTATE

# Disable PCIe hotplug - Different device on Palmetto.
unset PCIE_HOTPLUG_CONTROLLER
