
# petitboot needs notification for media change events on removable devices,
# which we only get if we've set the poll_msecs sysfs attribute.
ACTION!="remove", ATTR{removable}=="1", ATTR{events_poll_msecs}="2000"
