BR2_powerpc64le=y
BR2_powerpc_power8=y
BR2_BINUTILS_EXTRA_CONFIG_OPTIONS="--enable-targets=powerpc64-linux"
BR2_EXTRA_GCC_CONFIG_OPTIONS="--enable-targets=powerpc64-linux --disable-libsanitizer"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.19.1"
BR2_LINUX_KERNEL_DEFCONFIG="ppc64le"
BR2_LINUX_KERNEL_VMLINUX=y
BR2_TARGET_ROOTFS_CPIO=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_OPENPOWER_PLATFORM=y
BR2_OPENPOWER_POWER9=y
# BR2_PACKAGE_HOST_OPENPOWER_FFS is not set
# BR2_PACKAGE_HOSTBOOT is not set
# BR2_PACKAGE_HOSTBOOT_BINARIES is not set
# BR2_PACKAGE_MACHINE_XML is not set
# BR2_OPENPOWER_MACHINE_XML_FILTER_UNWANTED_ATTRIBUTES is not set
# BR2_OPENPOWER_MACHINE_XML_OPPOWERVM_ATTRIBUTES is not set
# BR2_OPENPOWER_MACHINE_XML_TARGET_TYPES_OPENPOWER_XML is not set
# BR2_PACKAGE_OPENPOWER_PNOR is not set
# BR2_TARGET_SKIBOOT_XZ is not set
# BR2_PACKAGE_HCODE is not set
# BR2_PACKAGE_OCC is not set
# BR2_PACKAGE_CAPP_UCODE is not set
# BR2_PACKAGE_HOST_PPE42_BINUTILS is not set
# BR2_PACKAGE_HOST_PPE42_GCC is not set
# BR2_PACKAGE_IMA_CATALOG is not set
# BR2_PACKAGE_HOST_SB_SIGNING_UTILS is not set
BR2_PACKAGE_DEVICETREE=y
BR2_DEVICETREE_SOURCE="p9_simics.dts"
